<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/static/web/favicon.ico>
    <title>PHOTOCLO</title>
    <link href=/static/web/css/app.c681170d.css rel=preload as=style>
    <link href=/static/web/css/chunk-vendors.74bc49b1.css rel=preload as=style>
    <link href=/static/web/js/app.865fa6aa.js rel=preload as=script>
    <link href=/static/web/js/chunk-vendors.5a3f681a.js rel=preload as=script>
    <link href=/static/web/css/chunk-vendors.74bc49b1.css rel=stylesheet>
    <link href=/static/web/css/app.c681170d.css rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but simple-login-project doesn't work properly
    without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id=app></div>
<script src=/static/web/js/chunk-vendors.5a3f681a.js></script>
<script src=/static/web/js/app.865fa6aa.js></script>
</body>
</html>